.img-mobi{
    display: none;
}
@media (max-width:450px){
    .slide li a img{
        width: 100%;
        height: 400px;
    }
    .img-mobi{
        display: inline;
    }
.img-desk{
    display: none;
}
}
